<DOCTYPE! html>
<html>
	<head>
		
		<title> PHS teacher rater </title>
		<!link rel = "stylesheet" type = "text/css" href = "index.css"> 
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

	</head>

	<body>
		
		<div class = "header">
			<a href = "index.html"> <img src="{{url_for('static', filename='tiger.png')}}" id = "tiger"></a>
			<h1 id = "header"> PHS Teacher Rater </h1>
		</div>

		<div class = "navigation">
			
			<a href = "grade9"><button id = "grade9" class = "gradebutton"><h2> Ninth Grade </h2></button></a>
			<br/>

			<a href = "grade10"><button id = "grade10" class = "gradebutton"><h2> Tenth Grade </h2></button></a>
			<br/>

			<a href = "grade11"><button id = "grade11" class = "gradebutton"><h2> Eleventh Grade </h2></button></a>
			<br/>

			<a href = "grade12"><button id = "grade12" class = "gradebutton"><h2> Twelth Grade </h2></button></a>
			<br/>
			
			<a href = "electives"><button id = "electives" class = "gradebutton"><h2> Electives </h2></button></a>
			<br/>

		</div>

	</body>

</html>
</DOCTYPE!>
</DOCTYPE!>